@font-face {
  font-family: "The Year of The Camel";
  font-style: normal;
  font-weight: 400;
  font-weight: 500;
  font-weight: 600;
  src: url("https://twebs-uploads.s3.eu-west-1.amazonaws.com/1d4d9ab7-7e77-4872-8a15-76d095ecf7d2/custom_uploads/VGhlWWVhcm9mVGhlQ2FtZWwtUmVndWxhci5vdGYxNzA0NjIzMjM0MzE5.otf		");
}
@font-face {
  font-family: "The Year of The Camel";
  font-style: normal;
  font-weight: 700;
  font-weight: 800;
  font-weight: 900;
  src: url("https://twebs-uploads.s3.eu-west-1.amazonaws.com/1d4d9ab7-7e77-4872-8a15-76d095ecf7d2/custom_uploads/VGhlWWVhcm9mVGhlQ2FtZWwtQm9sZC5vdGYxNzA0NjIzNjY3ODA1.otf		");
}
